### 연산자

### 산술연산자
- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫 구하기
- '**' : 거듭제곱

In [6]:
5>2

True

##### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다
- '<' : 작다
- '<=' : 작거나 같다
- '==' : 같다
- '!=' : 다르다

In [9]:
5<=2

False

In [10]:
5==2

False

In [7]:
5>=2

True

In [8]:
5<2

False

In [5]:
5**2

25

In [4]:
5//2

2

In [3]:
5 / 2

2.5

In [2]:
5 * 1

5

In [1]:
5 + 1

6

##### 논리연산자
- and : 논리 곱
- or : 논리 합
- not : 논리 부정

In [11]:
True and True

True

In [12]:
(5 > 2) and (5 <= 2)

False

In [13]:
True or False

True

In [14]:
(5 > 2) or (5 <= 2)

True

In [15]:
not True

False

In [16]:
not (5 <= 2)

True

### 변수
데이터를 저장하는 공간
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않음
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음

In [17]:
variable = 10
variable

10

In [18]:
variable = True
variable

True

In [19]:
variable = 10.0
variable

10.0

In [20]:
# variable = 0.13
variable = .13
variable

0.13

### 데이터타입
- 정수형
- 실수형
- 논리형
- 문자열

In [21]:
type(10)

int

In [22]:
type(10.0)

float

In [23]:
type(True)

bool

In [24]:
type('문자열')

str

##### 데이터타입 변환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정 데이터를 문자열로 변환

In [25]:
int(10.34)

10

In [26]:
int(True)

1

In [27]:
int(False)

0

In [28]:
int('10')

10

In [29]:
int('10.4')

ValueError: invalid literal for int() with base 10: '10.4'

In [30]:
float(10)

10.0

In [31]:
float(True)

1.0

In [32]:
float('10')

10.0

In [33]:
float('a')

ValueError: could not convert string to float: 'a'

In [34]:
bool(10)

True

In [35]:
bool(-1)

True

In [36]:
bool('a')

True

In [37]:
bool(0)

False

In [38]:
bool('')

False

In [39]:
str(10)

'10'

In [40]:
str(True)

'True'

### NaN, Inf
- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf (Infinity) : 무한대

In [41]:
float('NaN')

nan

In [42]:
float('Inf')

inf

In [43]:
float('-Inf')

-inf